<!-- <pre>{{ leagues | json }}</pre> -->
<!-- <pre>{{ teams | async | json }}</pre> -->

<div [ngStyle]="{'margin':'10px'}" fxLayout="row wrap">
 <div fxFlex="100" fxLayoutAlign="start center">
    <img [src]="logo">
 </div>
 <div fxFlex="100">
    <form fxFlex="100" fxLayoutAlign="start center">
      <mat-form-field fxFlex="100">
        <input matInput placeholder="Search League" aria-label="League" [matAutocomplete]="auto" [formControl]="leagueCtrl">
        <mat-icon matSuffix>search</mat-icon>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option
            *ngFor="let league of filteredLeagues | async"
            [value]="league">
            <!-- [routerLink]="['./teams', league.strLeague]" -->
              <span>{{ league.strLeague }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
</div>

<app-teams></app-teams>
