<!-- <pre>{{ leagues | json }}</pre> -->
<!-- <pre>{{ teams | async | json }}</pre> -->

<div [ngStyle]="{'margin':'10px'}" fxLayout="column">
 <div fxLayoutAlign="center center">
    <img [src]="logo">
 </div>
 <div>
    <form fxFlex="100" fxLayoutAlign="start center">
      <mat-form-field fxFlex="100">
        <input matInput placeholder="Search League" aria-label="League" [matAutocomplete]="auto" [formControl]="leagueCtrl">
        <mat-icon matSuffix>search</mat-icon>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option
            *ngFor="let league of filteredLeagues | async"
            [routerLink]="['./teams', league.strLeague]"
            [value]="league">
              <span>{{ league.strLeague }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
</div>

<!-- <ng-container *ngIf="teams">
  <div fxLayout="row wrap">
    <div fxFlex="50"
      *ngFor="let team of teams"
      [ngStyle]="{'padding':'10px'}"
      fxLayoutAlign="center center">
        <img fxFlex="60"
          [src]="team.strTeamBadge"
          [routerLink]="['./../team', team.strTeam]">
    </div>
  </div>
</ng-container> -->

