<!-- <pre>{{ teams | async | json }}</pre> -->

<ng-template #loading >
  <br><br><br><br>
  <div fxLayoutAlign="center center">
      <mat-spinner color="warn"></mat-spinner>
  </div>
  <br><br>
</ng-template>

<div fxLayout="row wrap" *ngIf="teams | async; let teams; else loading" >
  <div fxFlex="50" fxFlex.lg="25" fxFlex.xl="20" fxFlex.md="33"
    *ngFor="let team of teams"
    [ngStyle]="{'padding':'15px'}"
    fxLayoutAlign="center center">
      <img fxFlex="50"
        [src]="team.strTeamBadge"
        [routerLink]="['./../../team', team.idTeam, team.strTeam, team.strTeamBadge]">
  </div>
</div>
